.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.menu {
  float: left;
  margin-left: 90px;
  margin-right: 150px;
  display: flex;
  padding-top: 15px;
}

.menu-order-by {
  margin-top: -1em;
}

.card-root {
  margin: 10px;
  max-width: 240px;
  height: 450px;
  background-color: #A9A9A9;
  float: left;
}

.card-media {
  height: 170px;
  background-color: #D3D3D3;
}

.cards {
  margin-top: +5em;
  margin-left: 25px;
}


.fixo {
  background-color: white;
  opacity: 80%;
  margin-top: -4.7em;
  position: fixed;
  display: flex;
  height: 10%;
  width: 100%;
}

.attribute-title {
    font-family: monospace;
    clear: both;
    color: #3f51b5;
    float: left;
    font-size: 100%;
    margin: 1.25em 0 0 1.25em;
    text-transform: none;
    white-space: normal;
    word-break: break-word;
}

ul {
 list-style-type: none;
 }

.attribute-value {
    font-family: monospace;
    clear: both;
    color: #212121;
    float: left;
    font-size: 125%;
    margin: 0.75em 1.5em 0 1em;
    white-space: normal;
    word-break: break-word;
}

.detailsFixo {
  background-color: white;
  opacity: 80%;
  position: fixed;
  display: flex;
  height: 10%;
  width: 100%;
}

.boxDetails {
  width: 40rem;
  height: 30rem;
  margin: 8px;
  float: right;
}

.imgDetails {
  width: 30rem;
  height: 30rem;
  border-radius: 16px;
  float: left;
  margin-right: 80px;
}

.details {
  float: left;
  margin-top: +5em;
  margin-left: 20px;
  font-family: monospace;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-right: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
