.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.menu {
  float: left;
  margin-left: 90px;
  margin-right: 150px;
  display: flex;
  padding-top: 15px;
}

.menu-order-by {
  margin-top: -1em;
}

.card {
  margin: 2px;
}

.cards {
  margin-top: +5em;
}

.fixo {
  background-color: white;
  opacity: 80%;
  margin-top: -4.7em;
  position: fixed;
  display: flex;
  height: 10%;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
